body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222; /* Gris très foncé */
    color: black; /* Texte en noir */
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    color: white; /* Titre en blanc */
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project-card {
    background: orange; /* Cases en orange */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 250px;
    text-align: center;
    color: black; /* Texte en noir */
}

.project-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}

.project-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.project-card a {
    text-decoration: none;
    color: black; /* Liens en noir */
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}

.project-summary {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}

.project-card p {
    margin: 5px 0;
    font-size: 14px;
}

/* Icônes personnalisées */
.icon {
    width: 12px;
    max-width: 16px;/* Taille proche du texte */
    height: 12px;
    max-height: 16px;
    vertical-align: middle; /* Aligné avec le texte */
    margin-right: 5px; /* Petit espace entre l'icône et le texte */
}


.project-card p .icon {
    vertical-align: middle;
    margin-right: 5px;
}

@media (max-width: 800px) {
   .projects-container {
       grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 500px) {
   .projects-container {
       grid-template-columns: repeat(1, 1fr);
   }
}
